html {
    height: 100%
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px
}
#search{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100%;
    background-color: bisque;
}

#map{
    position: absolute;
    top: 0px;
    left: 100px;
    bottom: 30px;
    right: 0px;
}

#mapStatus{
    position: absolute;
    bottom: 0px;
    left: 100px;
    right: 0px;
    height: 30px;
    background-color: aqua;
}