html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0
}
#search{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: bisque;
}

#map{
    position: absolute;
    top: 0;
    left: 100px;
    bottom: 30px;
    width: 100%;
    overflow:hidden;
}

#mapStatus{
    position: absolute;
    bottom: 0;
    left: 100px;
    overflow:hidden;
    height: 30px;
    width: 100%;
    background-color: green;
}