<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>道路资料</title>

    <link rel="stylesheet" type="text/css" href="../static/css/sharedPages.css">
    <style>
        #roadInfoSelect {
            position: absolute;
            left: 0;
            width: 250px;
            top: 0;
            bottom: 0;
        }

        #roadInfoWrite {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 250px;
            right: 0;
        }
    </style>
</head>

<body>
    <!-- always show -->
    <div id="head"><iframe src="sharedPages/head.html"></iframe></div>
    <div id="navigation"><iframe src="sharedPages/navigation.html"></iframe></div>
    <div id="status"><iframe src="sharedPages/status.html"></iframe></div>

    <!-- 道路资料 -->
    <div id="main">
        <div id="roadInfoSelect"><iframe src="frames/roadInfoSelect.html"></iframe></div>
        <div id="roadInfoWrite"><iframe src="frames/roadInfoWrite.html"></iframe></div>
    </div>
</body>

</html>