<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h, initial-scale=1.0">
    <title>系统管理</title>

    <link rel="stylesheet" type="text/css" href="../static/css/sharedPages.css">
</head>

<body>
    <!-- always show -->
    <div id="head"><iframe src="sharedPages/head.html"></iframe></div>
    <div id="navigation"><iframe src="sharedPages/navigation.html"></iframe></div>
    <div id="status"><iframe src="sharedPages/status.html"></iframe></div>

    <!-- 系统管理 -->
    <div id="main">
        <h1>系统管理</h1>
    </div>
</body>

</html>