<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        a {
            text-decoration: none;
            color: white;
        }
    </style>
</head>

<body style="background-color: rgb(58, 165, 219);">
    <table style="border:0;">
        <tr>
            <td><a href="../road/documentManagement.html" target="mapFrame">文档管理</a></td>
            <td><a href="../road/dataInformation.html" target="mapFrame">数据信息</a></td>
            <td><a href="../road/dataDeletion.html" target="mapFrame">数据删除</a></td>
            <td><a href="../road/dailyInspection.html" target="mapFrame">日常巡查</a></td>
        </tr>
    </table>
</body>

</html>