<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="/js/jquery-3.6.0.js"></script>

    <style type="text/css">
        #searchResult{
            position: absolute;
            top:170px;
            bottom: 80px;
            background-color: cyan;
            left: 20px;
            right: 20px;
        }
    </style>
</head>

<body>
    <div>
        <p style="border-bottom: 1px solid; text-align: center">请选择查询条件</p>
    </div>

    <div id="allSearch">
        <form action="/road/">
            <div>
                <label><input type="radio" name="classification" value="1" checked onclick="">区属</label>
                <label><input type="radio" name="classification" value="2">管理单位</label>
                <label><input type="radio" name="classification" value="3">名称</label>
            </div>
            <div align="center">
                <select id="roadResp" style="width: 150px;">
                    <option>-------------道路-------------</option>
                </select>
                <select id="classificationResp" style="width: 150px;">
                    <option>-------------市区-------------</option>
                </select>
            </div>
            <div hidden id="roadName">
                道路名称:<input type="text" name="roadName" style="width: 58%; height: 20px;">
            </div>
        </form>
    </div>
    <script>
        $('input[type=radio][name=classification]').change(function () {
            let optionTOAdd;
            let classificationResp = $('#classificationResp');
            let roadName = $('#roadName');
            if (this.value == 1) {
                roadName.hide();
                classificationResp.show();
                optionTOAdd = $('<option>--------------市区-------</option>')
                classificationResp.empty();
                classificationResp.append(optionTOAdd);
            }
            if (this.value == 2) {
                roadName.hide();
                classificationResp.show();
                optionTOAdd = $('<option>--------管理单位-------</option>')
                classificationResp.empty();
                classificationResp.append(optionTOAdd);
            }
            if (this.value == 3) {
                classificationResp.hide();
                roadName.show();
            }
        })
    </script>

    <div style="height: 5%"><button name="doSearch" type="submit" style="float: right">搜索</button><img
            src="/img/search.jpg" style="float: right ;height: 24px"></div>

    <div id="searchResult" >
        <table>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="6" align="center">
                    <span id="page"></span>
                    <a href="" id="firstPage">首页</a>
                    <a href="">上一页 </a>
                    <a href="">下一页 </a>
                    <a href="">末页</a>
                </td>
            </tr>
        </table>
    <script>
        let currentPage=1;
        $("#firstPage").click(function () {
            $.ajax({
                url:"/allRoadPages?currentPage="+1,
                type:"get",
                dataType:"json",
                success:function (data) {
                    console.log(data)
                }
            })
        });

    </script>
    </div>
</body>

</html>