<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a {
            text-decoration: none;
            color: white;
        }
    </style>
</head>

<body style="background-color: rgb(58, 165, 219);">
    <table style="border:0;">
        <tr>
            <td><a href="../homePage.html" target="_parent">首页</a></td>
            <td><a href="../visaRecord.html" target="_parent">现场签证记录</a></td>
            <td><a href="../roadInformation.html" target="_parent">道路资料</a></td>
            <td><a href="../roadDetection.html" target="_parent">道路检测</a></td>
            <td><a href="../maintenanceManagement.html" target="_parent">维修管理</a></td>
            <td><a href="../moneyManagement.html" target="_parent">资金管理</a></td>
            <td><a href="../workCommunication.html" target="_parent">工作沟通</a></td>
            <td><a href="../systemManagement.html" target="_parent">系统管理</a></td>
            <td><a href="../logIn.html" target="_parent">注销</a></td>
        </tr>
    </table>
</body>

</html>