<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="/js/jquery-3.6.0.js"></script>
</head>

<body style="background-color: rgb(62, 173, 240);">
    <table style="height: 100%; width: 100%;">
        <tr>
            <td id="organizationName"></td>
            <td id="name"></td>
            <td id="userType"></td>
            <td>当前使用版本号：v1.00</td>
        </tr>
    </table>
</body>
    <script>
        $.ajax({
            type:'POST',
            url:"/checkUser",
            dataType:"json",
            async:false,
            success:function (data){
                $("#organizationName").text("组织名称："+data.organizationName)
                $("#name").text("用户名称："+data.name);
                $("#userType").text("用户类型："+data.userPermission);
            }
        })
    </script>
</html>